@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    --font-Young_Serif: "Young Serif", serif;
    --font-Outfit: "Outfit", sans-serif;
}

hr{
    margin-block: 20px;
}

h2{
    font-size: 2.2em;
    font-family: var(--font-Young_Serif);
    color: var(--Brown-800);
}

body{
    background-color: var(--Rose-50);
    width: 100%;
    height: 100vh;
}

main{
    max-width: 375px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--White);
    border-radius: 18px;
}

main > .container_img{
    width: 100%;
    height: auto;
}

main > .container_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

main > header{
    margin-block: 18px;
}

main > header h1{
    font-family: var(--font-Young_Serif);
    font-size: 2.1em;
    color: var(--Stone-900);
    margin-bottom: 18px;
}

main > header p{
    font-size: 1.3em;
    font-family: var(--font-Outfit);
}

main > section.container_ingredients{
    margin-block: 18px;
}

main > section.container_ingredients .container_preparation{
    background-color: var(--Rose-50);
    border-radius: 8px;
    padding: 13px;
    margin-block: 18px;
}

main > section.container_ingredients .container_preparation h3{
    color: var(--Rose-800);
    font-size: 1.8em;
    font-family: var(--font-Outfit);
    margin-block: 8px;
}

main > section.container_ingredients .container_preparation ul{
    padding-left: 33px;
    font-size: 1.3em;
    font-family: var(--font-Outfit);
}

main > section.container_ingredients .container_preparation ul li{
    line-height: 1.8;
}

main > section.container_ingredients .container_preparation ul li strong{
    color: var(--Stone-900);
}

main > section.container_ingredients .container_lista_ingredients ul{
    padding-left: 20px;
    font-size: 1.3em;
    line-height: 1.8;
}
    
main > section.container_instruction h2{
    margin-block: 18px;
}

main > section.container_instruction ol{
    padding-left: 33px;
    font-size: 1.3em;
    font-family: var(--font-Outfit);
}

main > section.container_instruction ol li{
    margin-bottom: 10px;
}

main > .container_nutricion h2{
    margin-bottom: 10px;
}

main > .container_nutricion table{
    width: 100%;
}

main > .container_nutricion table caption{
    margin-left: -10px;
    margin-bottom: 10px;
}

main > .container_nutricion table{
    border-collapse: collapse;
}

main > .container_nutricion table th, td{
    border-bottom: 1px solid black;
    padding: 13px;
    font-size: 1.2em; 
}

main > .container_nutricion table th{
    color: var(--Stone-600);
    text-align: left;
}

main > .container_nutricion table td{
    color: var(--Brown-800);
    font-weight: bolder;
}
@media screen and (max-width: 1440px){
    main{
        max-width: 1440px;
        margin: 20px;
    }
}